.Header{
    position: fixed;
}
#u5047{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1600px;
    height: 35px;
    overflow: hidden;
    border-width: 0px;
    position: absolute;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    -ms-overflow-y: hidden;
    overflow-y: hidden;
    background-color: rgba(228, 228, 228, 1);
    background-image: none;
}
#u5047_state0_content {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
    margin-left: 59px;
}
#u5048{
    border-width: 0px;
    position: absolute;
    left: 996px;
    top: 9px;
    width: 49px;
    height: 16px;
}
#u5049 {
    border-width: 0px;
    position: absolute;
    left: 797px;
    top: 9px;
    width: 187px;
    height: 16px;
}
#u5054 {
    border-width: 0px;
    position: absolute;
    left: 1060px;
    top: 0px;
    width: 300px;
    height: 35px;
    font-size: 14px;
    text-align: left;
}
#u5054_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 35px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(118, 190, 67, 1);
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    text-align: left;
}
#u5055 {
    border-width: 0px;
    position: absolute;
    left: 1060px;
    top: 1px;
    width: 284px;
    height: 33px;
}
#u5055_input {
    position: absolute;
    left: 12px;
    top: 0px;
    width: 284px;
    height: 33px;
    background-color: transparent;
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    text-decoration: none;
    color: #363636;
    text-align: left;
    border-color: transparent;
    outline-style: none;
}
#u6568{
    border-width: 0px;
    position: absolute;
    left: 1060px;
    top: 35px;
    width: 300px;
    height: 840px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    visibility: inherit;
    width: 300px;
    height: 840px;
    z-index: 1048;
}
.drpdwn{
    /* width: 300px; height: 40px; position: absolute; top: 0px; left: 0px; */
}

.drpdwn-text{
    visibility: inherit;
    position: absolute;
    width: 279px;
    transform-origin: 134px 7px 0px;
    border-width: 0px;
    position: absolute;
    left: 1060px;
    width: 284px;
    height: 33px;
}
.drpdwn-text p{
    padding:9px;
}
#u4933 {
    border-width: 0px;
    position: absolute;
    left: -59px;
    width: 1600px;
    top: 35px;
    height: 95px;
    overflow: hidden;
}
#u4933_state0{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1600px;
    height: 95px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    -ms-overflow-y: hidden;
    overflow-y: hidden;
    background-color: rgba(242, 242, 242, 1);
    background-image: none;
}
u4933_state0_content{
        border-width: 0px;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 1px;
        height: 1px;
}
#u5224 {
    border-width: 0px;
    position: absolute;
    left: 100px;
    top: 59px;
    width: 121px;
    height: 47px;
}
#u5224_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 121px;
    height: 47px;
}
#u5039{
    border-width: 0px;
    position: absolute;
    left: 282px;
    top: 62px;
    width: 568px;
    height: 40px;
    font-size: 14px;
    text-align: left;
}
#u5039_img{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 568px;
    height: 40px;
}
#u5040 {
    border-width: 0px;
    position: absolute;
    left: 342px;
    top: 63px;
    width: 554px;
    height: 38px;
}
#u5040_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 554px;
    height: 38px;
    /* background-color: transparent; */
    background-color: rgba(255, 255, 255, 1);
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-decoration: none;
    color: #999999;
    text-align: left;
    /* border-color: transparent; */
    outline-style: none;
    border:1px solid rgba(118, 190, 67, 1);
    
}
#u5041 {
    border-width: 0px;
    position: absolute;
    left: 859px;
    top: 74px;
    width: 19px;
    height: 18px;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
#u5041_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 19px;
    height: 18px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
#u5041_text {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    white-space: nowrap;
    width: 19px;
    transform-origin: 9.5px 9px 0px;
}
#u4969 {
    border-width: 0px;
    position: absolute;
    left: 952px;
    top: 71px;
    width: 69px;
    height: 23px;
}
#u4969_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 69px;
    height: 23px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#u4969_text {
    border-width: 0px;
    position: absolute;
    left: 2px;
    top: 2px;
    white-space: nowrap;
    width: 66px;
    transform-origin: 33px 9.5px 0px;
}
#u4970 {
    border-width: 0px;
    position: absolute;
    left: 1030px;
    top: 74px;
    width: 10px;
    height: 16px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
#u4970_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 10px;
    height: 16px;
}
#u4942 {
    border-width: 0px;
    position: absolute;
    left: 1101px;
    top: 71px;
    width: 75px;
    height: 23px;
    text-align: right;
}
#u4942_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 75px;
    height: 23px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: right;
}
#u4942_text {
    border-width: 0px;
    position: absolute;
    left: 2px;
    top: 2px;
    width: 71px;
    white-space: nowrap;
    transform-origin: 35.5px 9.5px 0px;
}
#u4943 {
    border-width: 0px;
    position: absolute;
    left: 1187px;
    top: 74px;
    width: 10px;
    height: 16px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
#u4943_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 10px;
    height: 16px;
    
}
#u4937 {
    border-width: 0px;
    position: absolute;
    left: 1293px;
    top: 56px;
    width: 67px;
    height: 21px;
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #666666;
    text-align: right;
    line-height: 18px;
}
#u4937_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 67px;
    height: 21px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #666666;
    text-align: right;
    line-height: 18px;
}
#u4937_text {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 67px;
    white-space: nowrap;
}
/* #u6454_ann {
    border-width: 0px;
    position: absolute;
    left: 1293px;
    top: 52px;
    width: 1px;
    height: 1px;
} */
#u4938 {
    border-width: 0px;
    position: absolute;
    left: 1257px;
    top: 89px;
    width: 107px;
    height: 21px;
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #76BE43;
    text-align: right;
    line-height: 18px;
}
#u4938_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 107px;
    height: 21px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #76BE43;
    text-align: right;
    line-height: 18px;
}
#u4938_text {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 107px;
    white-space: nowrap;
}
#u4939{
    border-width: 0px;
    position: absolute;
    left: 1264px;
    top: 56px;
    width: 15px;
    height: 21px;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 900;
    font-style: ;
    font-size: 18px;
    color: #76BE43;
    line-height: 18px;
}
#u4939_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 15px;
    height: 21px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 900;
    font-style: ;
    font-size: 18px;
    color: #76BE43;
    line-height: 18px;
}
#u4939_text {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 15px;
    white-space: nowrap;
}
#u4940 {
    border-width: 0px;
    position: absolute;
    left: 1254px;
    top: 81px;
    width: 108px;
    height: 1px;
}
#u4940_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 108px;
    height: 1px;
    background: inherit;
    background-color: rgba(228, 228, 228, 1);
    border: none;
    border-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#u4932 {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 130px;
    width: 1600px;
    height: 5px;
    overflow: hidden;
}
#u4932_state0 {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1600px;
    height: 5px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    -ms-overflow-y: hidden;
    overflow-y: hidden;
    background-color: rgba(118, 190, 67, 1);
    background-image: none;
}
#u493_state0_content {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
}
